.Login {
  text-align: center;
  margin: 20px auto;
  padding: 10px;
  background-color: #ffffff;
  color: #000000;
}

.Login input {
  width: 200px;
}

.Login button {
  margin-top: 16px;
  border:none;
  outline: none;
  -webkit-border-radius: 16;
  -moz-border-radius: 16;
  border-radius: 16px;
  font-family: Arial;
  font-size: 14px;
  padding: 6px 16px;
  background: LightGrey;
  color: #000000;
  text-decoration: none;
}
/* Firefox */
.Login button::-moz-focus-inner {
  border: 0;
}
.Login button:hover {
  background: DarkGray;
}
.Login button:active {
  color: #ffffff;
  background: DimGray;
}
