.upform {
  background-color: #99CCFF;
  margin: 10px auto;
  padding: 8px;
}

.upform button {
  font-size: medium;
  color: white;
}
.upform button.select {
  background-color: #6699cc;
  margin-right: 2px;
}

.upform button.send {
  background-color: #ff9966;
  margin-left: 10px;
}

.upform input {
  font-size: medium;
  color: gray;
}

.upform input.fileLabel {
  width: 60%;
  min-width: 300px;
}

.nodisp {
  display: none;
}
